# venv
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Build artifacts
*.exe
build/
dist/
*.spec
*.pyz
*.pkg

# Config with local paths
.env

# R virtual environment
renv/library/
renv/python/
renv/staging/
renv/sandbox/
renv/cellar/
